<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=provider.userName%></title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="<%= provider.userName %>">
  <link rel="icon" sizes="192x192" href="<%= image %>">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="<%= provider.userName %>">
  <link rel="apple-touch-icon" href="<%= image %>">
  <style>
    body {

    }

    .mdl-dialog {
      width: 75%;
      border: none;
      box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
      z-index: 9;
    }

    .mdl-layout__content {
      /*height: 100%;*/
    }

    .demo-card-wide.mdl-card {
      width: 100%;
      /*height: 100%;*/
      margin: 0 auto;
      padding-bottom: 120px;
    }

    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 190px;
      background: url('/dist/public/images/qrcode/blurred-web-backgrounds.jpg') center / cover;
    }

    .demo-card-wide > .mdl-card__menu {
      color: #E0E0E0;
    }

    .demo-layout-transparent {
      background: #9E9E9E;
    }

    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      color: white;
    }

    .mdl-layout__drawer-button {
      border-radius: 50%;
      vertical-align: middle;
      box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12) , 0 1px 1px 0 rgba(0,0,0,.24);
      line-height: normal;
      background: #ff4081;
    }

    .material-icons.md-36 {
      font-size: 36px;
      vertical-align: middle;
      margin-right: 5px;
    }

    .profile-image {
      display: block !important;
      margin: 0 auto;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
    }

    .mdl-progress {
      width: 100% !important;
    }

    .caller-bar {
      position: fixed;
      bottom: 0;
      background-color: white !important;
      z-index: 4;
    }

    .ath-container {
      opacity: 0.8;
    }

    .ath-btn, .already-ath-btn {
      text-decoration: none;
      cursor: pointer;
    }

    .edit-dialog {
      /* center the edit dialog */
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 320px;
      margin: auto;
    }

  </style>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/bower_components/add-to-homescreen/style/addtohomescreen.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="/bower_components/md-date-time-picker/dist/css/md-date-time-picker.css">
  <!-- Material Design icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">VoiceIn 名片</span>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">VoiceIn 名片</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">VoiceIn 首頁</a>
        <a class="mdl-navigation__link" href="">聯絡我們</a>
        <a class="mdl-navigation__link" href="">常見問題</a>
        <a class="mdl-navigation__link" href="">關於 VoiceIn</a>
      </nav>
    </div>

    <main class="mdl-layout__content vcard-content">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <img class="profile-image" src="<%= image %>" alt="" />
        </div>

        <div class="mdl-card__supporting-text icon-info" data-iconid="<%= iconId %>">
          <span class="ath-section">
            <button class="ath-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              如何將此頁加至主畫面?
            </button>
            <button class="already-ath-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              不再顯示
            </button>
          </span>
          <h3><%= provider.userName %></h3>
          <h5><i class="material-icons md-36">face</i>關於</h5>
          <p>
              <% if (provider.profile === '') {%>
                對方未填寫
              <% } else {%>
                <%= provider.profile %>
              <%}%>
          </p>
          <h5><i class="material-icons md-36">business</i>公司</h5>
          <p>
            <%= provider.company %>
          </p>
          <h5><i class="material-icons md-36">location_on</i>來自</h5>
          <p>
            <%= provider.location %>
          </p>
          <h5>方便通話時間</h5>
          <button class="period-btn--started mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <%= availableStartTime %>
          </button>
          至
          <button class="period-btn--ended mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <%= availableEndTime %>
          </button>
          <h5>允許對方來電?</h5>
            <label class="isEnable-switch mdl-switch mdl-js-switch mdl-js-ripple-effect" for="isEnable-switch">
            <% if (isEnable === true) {%>
              <input type="checkbox" class="mdl-switch__input" checked>
            <%} else {%>
              <input type="checkbox" class="mdl-switch__input">
            <% } %>
            <span class="mdl-switch__label"></span>
          </label>

          <br/><br/>

          <div class="edit-btn-section">
            <button class="edit-btn mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              修改您的資料
            </button>
          </div>
        </div>
      </div>
    </main>

    <div class="mdl-card__actions mdl-card--border caller-bar">
      <% if (isTargetEnable){ %>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect confirm-btn">
          <i class="material-icons md-36">phone</i>撥免費電話
        </a>
      <% } else {%>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect sorry-btn">
          <i class="material-icons md-36">phone_locked</i>抱歉，對方目前無法接聽電話
        </a>
      <%}%>
    </div>
  </div>

  <!-- Modal -->
  <dialog class="mdl-dialog progress-dialog">
    <h4 class="mdl-dialog__title">請稍後</h4>
    <div class="mdl-dialog__content">
      <p>
        系統即將來電，請放心接通電話。
      </p>
      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
  </dialog>

  <dialog class="mdl-dialog error-dialog">
    <h4 class="mdl-dialog__title">失敗</h4>
    <div class="mdl-dialog__content">
      <p>
        抱歉，撥打失敗，請稍候再嘗試。
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" id="err-close">關閉</button>
    </div>
  </dialog>

  <dialog class="mdl-dialog edit-dialog">
    <h4 class="mdl-dialog__title">修改您的資料</h4>
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" value="<%= name %>">
        <label class="mdl-textfield__label" for="name">姓名</label>
      </div><br/>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label phonenumber-field">
        <input class="mdl-textfield__input" pattern="[0-9]{10}" id="phoneNumber" type="tel" inputmode="numeric" value="<%= phoneNumber.replace('+886', ''); %>">
        <label class="mdl-textfield__label" for="phoneNumber">請輸入台灣手機號碼</label>
        <span class="mdl-textfield__error">只能輸入手機號碼，例如 0988123456 </span>
      </div><br/>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="company" value="<%= company %>">
        <label class="mdl-textfield__label" for="company">公司</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button
        class="edit-dialog-btn--saved mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
        data-icon-uuid="<%= iconId %>" data-save-text="儲存中..." data-done-text="儲存"
      >
        儲存
      </button>
      <button class="edit-dialog-btn--closed mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        取消
      </button>
    </div>
  </dialog>


  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <script src="/bower_components/draggabilly/dist/draggabilly.pkgd.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.2/backbone-min.js" charset="utf-8"></script>
  <script src="/bower_components/add-to-homescreen/src/addtohomescreen.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.11.0/fetch.min.js"></script>
  <script src="/bower_components/md-date-time-picker/dist/js/md-date-time-picker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.js"></script>
  <script src="/dist/public/javascripts/icon/entry.bundle.js"></script>
</body>
</html>
